@model AirQuality.Models.Root;
@{
    ViewData["Title"] = "City";
}

<div>
    <h3 class="display-4">UK City Air Quality Search</h3>
        <center>
            <form asp-controller="Home" asp-action="City">
                <table>
                    <tr>
                        <td>Enter a UK city: </td>
                        <td><input type="text" id="city" name="city" /></td>
                        <td><input type="submit" value="Submit" /></td>
                    </tr>
                </table>
                <hr />
            </form>
        </center>     
  @if (Model.Results != null && Model.Results.Count() > 0)
    {
        <div>
            <table class="table table-bordered table-striped table-sm">
                <thead>
                    <tr>
                        <th>City</th>
                        <th>Locations</th>
                        <th>Count</th>
                        <th>Parameters</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var cityresult in Model.Results)
                    {
                        <tr>
                        <td>@Html.DisplayFor(modelItem => cityresult.City)</td>
                        <td>@Html.DisplayFor(modelItem => cityresult.Locations)</td>
                        <td>@Html.DisplayFor(modelItem => cityresult.Count)</td>
                            <td>
                                <ul>@foreach (var str in cityresult.Parameters)
                                {
                                    <li>@str</li>
                                }
                                </ul> 
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    }
</div>
