@model AirQuality.Models.Root;
@{
    ViewData["Title"] = "Home Page";
}

<div>
    <center>
    <h3 class="display-4">Air Quality Search</h3>

    <p>This is a simple client to demonstrate accessing the OpenAQ API</p>
    <p>Please use the navigation above to search by City or Country Code</p>
    </center>  

</div>






